<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free restaurant catalogue for you">
  <meta name="theme-color" content="#222831">    
  
  <link rel="apple-touch-icon" href="icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest" >
  <link rel="icon" href="./favicon.png">
 
  <title>RESTOLOG</title>
</head>
<body>
  <a href="#mainContent" class="skip-to-content">Skip to Content</a>
  <header>
    <app-bar></app-bar>
  </header>

  <app-hero></app-hero>

  <div id="loader"></div>

  <main class="animate-bottom" id="mainContent" tabindex="0"></main>

  <footer>
    <app-footer></app-footer>
  </footer>
</body>
</html>