@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); 

* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after { 
	box-sizing: border-box; 
}

html { 
	scroll-behavior: smooth; 
}
 
body {
  background-color: #393E46;
  color: #EEEEEE;
  font-family: 'inter', sans-serif;
  min-height: 100vh; 
}

/*
  Skip to content
*/

.skip-to-content {
  background-color: #393E46;
  color: #00ADB5;
  position: fixed;
  top: -200px;
  min-width: 44px;
  min-height: 44px;
  padding: 16px;
  border-radius: 10px;
  text-decoration: none;
  z-index: 100;
}

.skip-to-content:focus {
  top: 0;
  left: 0;
  margin: 75px 10px;
}

/*
  Loader content
*/

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}

/* 
  Add animation to content 
*/

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
 
/*
  AppBar
*/

.app-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky; 
  background-color: #222831;
  top: 0;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 99;
}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
  
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  color: #EEEEEE;
  border: none;
  font-size: 16px;
  padding: 10px; 
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
}
 
.app-bar .app-bar__brand {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
 
.app-bar .app-bar__brand h1 {
  color: #00ADB5;
  font-size: 24px;
  text-transform: uppercase;
  user-select: none;
}
 
.app-bar .app-bar__navigation {
  position: absolute;
  background-color: #222831;
  top: 60px;
  left: -180px;
  width: fit-content;
  padding: 10px;
  transition: all 0.3s;
  overflow: hidden;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: flex;
  gap: 10px;
  color: #EEEEEE;
  font-size: 16px;
  width: fit-content;
  min-width: 44px;
  min-height: 44px;
  padding: 10px;
  margin: 10px; 
  align-items: center;
  text-decoration: none;
}

.app-bar .app-bar__navigation ul li a:hover,
.app-bar .app-bar__navigation ul li a:active {
  transition: ease-in-out;
  transition-duration: 0.2s; 
  background-color: #393E46;
  color: #00ADB5;
  border-radius: 10px;
}

/* 
  Hero 
*/

.hero {
  display: grid;
  align-content: center;
  height: 350px;
  width: 100%;
  color: white;
  text-align: center;
  background: linear-gradient(180deg, #12151a 0%, #252a3477 50%, #12151a 100%);
  background-position: center;
  padding: 24px;
  position: relative;
}
  
.hero picture,
.hero img {
  width: 100%;
  height: 100%;
}

picture {
  position: absolute;
  z-index: -1;
}

img {
  object-fit: cover;
}

.hero__heading {
  font-size: 24px;
}

.hero__tagline {
  margin-top: 10px;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

/*
  Main Content
*/ 

main {
  padding: 20px;
  flex: 1;
}
 
.content {
  margin: 0 auto;
  min-height: 100%;
}
 
.content .content__heading {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
 
/*
  Restaurants 
*/

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 32px 0;
}
 
/*
  Restaurant Item
*/

.restaurants-item {
  width: 100%;
  background-color: #EEEEEE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: hidden;
}
 
.restaurants-item__header {
  position: relative;
}
 
.restaurants-item .restaurants-item__header .restaurants-item__header__poster {
  width: 100%;
  height: 200px;
}
 
.restaurants-item .restaurants-item__header .restaurants-item__header__rating {
  position: absolute;
  padding: 10px;
  top: 20px;
  right: 0;
  border-top-left-radius: 25px; 
  border-bottom-left-radius: 25px;
  display: inline-block;
  background-color: #222831;
  color: #EEEEEE;
  font-size: 14px;
}

.restaurants-item .restaurants-item__header .restaurants-item__header__rating i {
  color: #ffff00;
}
 
.restaurants-item .restaurants-item__header .restaurants-item__header__rating .restaurants-item__header__rating__score {
  margin-left: 10px;
}

.restaurants-item .restaurants-item__header .restaurants-item__header__city {
  position: absolute;
  padding: 10px;
  left: 0;
  top: 20px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: inline-block;
  background-color: #222831;
  color: #EEEEEE;
  font-size: 14px;
}

.restaurants-item .restaurants-item__header .restaurants-item__header__city i {
  background: conic-gradient(#4285F4, #0F9D58, #F4B400, #DB4437);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.restaurants-item .restaurants-item__header .restaurants-item__header__rating .restaurants-item__header__rating__score2 {
  margin-left: 10px;
}
 
.restaurants-item .restaurants-item__content {
  padding: 16px;
}
 
.restaurants-item .restaurants-item__content h3 {
  font-size: 16px;
  margin: 0 0 10px 0;
}
 
.restaurants-item .restaurants-item__content h3 a {
  color: #00ADB5;
  padding: 15px 0;
  text-decoration: none;
}

.restaurants-item .restaurants-item__content h3 a:hover {
  opacity: 0.5;
}
 
.restaurants-item .restaurants-item__content p {
  color: #000000;
  font-size: 12px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
 
/*
  Restaurant
*/
 
.restaurant {
  display: flex;
  flex-direction: column;
  margin: 32px 0; 
  width: 100%;
}
 
.restaurant .restaurant-detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.restaurant .restaurant__review {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 32px 0;
}

.restaurant .restaurant-detail__container {
  background-color: #EEEEEE;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden; 
}

.restaurant .restaurant-detail__picture {
  width: 100%;
  object-fit: fill;  
  
}

.restaurant .restaurant-detail__title {
  color: #000000;
  font-size: 18px;
  margin-bottom: 5px;
}

.restaurant .restaurant-detail__content {
  width: 100%;
  padding: 10px;
 }

 .restaurant .restaurant-detail__category__container {
  margin-bottom: 10px;
}

.restaurant .restaurant-detail__category {
  color: #222121;
  font-size: 14px;
}
 
.restaurant .restaurant-detail__location {
  font-size: 14px;
  color: #000000;
  margin: 10px auto;
}

.restaurant .restaurant-detail__location i {
  background: conic-gradient(#4285F4, #0F9D58, #F4B400, #DB4437);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurant .restaurant-detail__rating {
  font-size: 14px;
  color: #000000;
  margin: 10px auto;
}

.restaurant .restaurant-detail__rating i {
  color: #ffff00;
}

.restaurant .restaurant-detail__description {
  color: #000000;
  font-size: 12px;
  text-align: justify; 
  margin-bottom: 10px;
}

.restaurant .restaurant-detail__description h2 {
  font-size: 14px;
  margin-bottom: 10px;
}

.restaurant .restaurant-review {
  display: flex;
  flex-direction: row;
}
 
 
/*
  Like
*/

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position:sticky;
  margin: auto;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.restaurant-detail aside {
  width: 100%;
  height: fit-content;
  background-color: #dadada;
  border-radius: 10px;
  margin-bottom: 25px;
}

.restaurant-detail aside h2 {
  background-color: #EEEEEE;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #00ADB5;
  padding: 10px;
}

/* 
  Review 
*/

.detail-menu {
  display: grid;
  padding: 20px;
  margin: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.menu-title-container {
  padding: 10px;
}

.menu-title-container i {
  color: #00ADB5;
}

.menu-title {
  font-size: 16px;
  color: #00ADB5;
  display: inline;
}

.menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  grid-row-gap: 10px;
}

.menu-item {
  list-style:square;
  margin-left: 20px;
  font-size: 14px;
  color: #575454;
}

/* 
  Add review 
*/

#review-container {
  width: 100%;
  background-color: #dadada;
  height: fit-content;
  border-radius: 10px;
}

#review-container h2 {
  background-color: #EEEEEE;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #00ADB5;
  padding: 10px;
}

.review-container {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.review-body {
  width: 100%;
  overflow: hidden;
}

.review-photo-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.review-consumer-name {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 16px;
  color: #000000;
  text-transform: capitalize;
}

.review-date-post {
  color: #222121;
  font-size: 12px;
}

.review-content {
  margin-top: 5px;
  color: #000000;
  font-size: 14px;
  text-align: justify;
}

.review-content::first-letter {
  text-transform: capitalize;
}

#review-form-container {
  background-color: #dadada;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

#review-form-container h2 {
  background-color: #EEEEEE;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #00ADB5;
  padding: 10px;
}

.review-form-container {
  padding: 20px;
  margin: 20px;
  background-color: #EEEEEE;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.review-form-container h2 {
  color: #00ADB5;
}

.review-form-element {
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 8px;
  margin-bottom: 15px;
}

.review-form-element label {
  color: #00ADB5;
}

.review-form-element input {
  border: 1px solid #222121;
  min-width: 44px;
  min-height: 44px;
  padding: 7px 20px;
  font-size: 16px;
  color: #000000;
  border-radius: 5px;
}

.review-form-element textarea {
  border: 1px solid #222121;
  padding: 10px 20px;
  color: #000000;
  font-size: 16px;
  border-radius: 5px;
  min-width: 44px;
  min-height: 44px;
}

.review-form-element input:focus, .review-form-element textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 3px 1px #00ADB5;
  -moz-box-shadow: 0 0 3px 1px #00ADB5;
  box-shadow: 0 0 3px 1px #00ADB5;
}

.review-form button {
  outline: none;
  border: 1px solid #000000;
  background: #00ADB5;
  color: #EEEEEE;
  padding: 10px;
  border-radius: 8px;
  min-width: 44px;
  min-height: 44px;
}

.review-form button:focus {
  color: #00ADB5;
  background: #393E46;
}

.review-form button:hover {
  color: #00ADB5;
  background: #393E46;
}

.input-require {
  color: #db0000;
}

.success-message {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  opacity: 0;
  text-align: center;
  background-color: #0F9D58;
  color: #ffffff;
  transition: opacity 1s;
}

.show-message {
  opacity: 1;
} 

/* 
  Favorite 
*/

empty-favorite {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.empty-favorite__content p {
  background-color: #222121;
  padding: 20px;
  border-radius: 10px;
  color: #EEEEEE;
  font-size: 16px;
}
 
/*
  Footer
*/
 
footer {
  background-color: #EEEEEE;
  padding: 16px;
}
 
footer p {
  text-align: center;
  font-size: 11px;
  color: #000000;
}
 
footer p i {
  color: #db0000;
}